
.fullgame {
    display: flex;
}

.container {
    margin: 1px;
    align-self: center;
}

.fullgamepic {
    height: 300px;
    width: 400px;
}

.gameinfo {
    flex: 25%;
    align-content:flex-start;
    background-color: #61dafb;
}

.sellerinfo {
    flex:25%;
    background-color: green;
}

.price {
    font-size: 20px;
    background-color: transparent;
}

/*.im {*/
/*    flex: 25%;*/
/*}*/