.game-list {
    display: flex;
    flex-direction: row;
    background-color: orange;
    margin: 50px 50px 50px 250px;
    outline-color: black;
    height: 200px;
    border-color: black;
}


.imageContainer {
    width: 25%;
    height: 250px;
}

.gamePic {
    height: 200px;
    align-self: center;
}

.gameStats {
    margin: 0px;
    width: 25%;
    background-color: green;
}

.price {
    width: 25%;
    background-color: red;
}

